<span class="bckg"></span>
<header>
  <h1>Dashboard</h1>
  <nav>
    <ul>
      
      <li>
        <a href="javascript:void(0);" data-title="Team">Share Post</a>
      </li>
      <li>
        <a href="javascript:void(0);" data-title="Diary">Posts</a>
      </li>
      <li>
        <a href="javascript:void(0);" data-title="Timeline">Timeline</a>
      </li>
      <li>
        <a href="javascript:void(0);" data-title="Search">Profile</a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <div class="title">
    <h2>Projects</h2>
    <a href="javascript:void(0);">Hello <%= user.username %>!</a>
  </div>

  <article class="larg">
  </article>
  <script type="text/javascript" src="js/dashboard_template.js"></script>
</main>