<!DOCTYPE html>
<html>
<head>
	<title>Social Eye</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,700italic,400italic' rel='stylesheet' type='text/css'>
	<link href="styles/index.css" rel="stylesheet">
</head>
<body>
		<div class="header">
			<div class="sides">
				<img src="resources/logo.png" id="logo_image">
				<h2 class="logoText">Social Eye</h2>
				<a href="#about" class="logo1">ABOUT US</a>
				<a href="#donashun" class="logo2">DONATE</a>
				<!-- <a href="#individual" class="logo3">Individual</a> -->
				<a class="logo3" href="/individual_registration">Person Registration</a> 
				<a class="logo5" href="/management_registration">MANAGE NOW</a> 
				<a href="http://localhost:5050/login" class="logo4">LOG IN</a>
					
			</div>
			<div class="sides"> <a href="#" class="menu">-</a></div>
				<div class="info">
					<h4><a href="#category"></a></h4>
				  <h1 class="projectName"><b>Social Eye</b></h1>
				  <div class="meta" style="font-size: 1.8em;">
						Integrated sustainable community development through community participation.
					</div>
				</div>
		</div>
				
<div class="slideShowContainer" id="about">
	<h1 id="slideText"><b>Contribution You Can Do</b></h1>
	<div class="mySlides"><img class="slideImage" src="resources/toysD.png"></div>
	<div class="mySlides"><img class="slideImage" src="resources/clothesD.png"></div>
	<!-- <div class="mySlides"><img class="slideImage" src="resources/whytodonate.jpg"></div> -->
	<div class="mySlides"><img class="slideImage" src="resources/foodD.png"></div>
	<div class="mySlides"><img class="slideImage" src="resources/Donate-Your-Books.png"></div>
	<!-- <div class="mySlides"><img class="slideImage" src="resources/moneyD.jpg"></div> -->
	
</div>

<div style="display: none">
	<form method='post' action='https://securegw-stage.paytm.in/theia/processTransaction' name='f1'></form>
</div>

<div class="donation-container" id="donashun" ng-app="ssbApp" ng-controller="ssbCtrl">
		<div class="space">
				<fieldset class="dswitch switch-two">
				  <legend></legend>
				  <input type="radio" name="view" id="yes" checked name="showHideExample" ng-model="showHideTest" ng-value="true" />
				  <label for="yes">Monetary Donation</label>
				  <input type="radio" name="view" id="no" name="showHideExample" ng-model="showHideTest" ng-value="false"/>
				  <label for="no"> Non-monetary Donation </label> 
				  <span class="switch-button"></span>
				</fieldset>
			  </div>

            
		<div class="donation-box" ng-show="showHideTest">
			<div class="title">Monetary Donation Information</div>
			
			<div class="fields">
				<input type="text" id="name" placeholder="Name">
				<input type="text" id="mobile" placeholder="9999999999">
				<input type="text" id="email" placeholder="Email">
			</div>
			
			<div class="amount">
				<div class="button" onclick="set_amount(100)" value="100">₹100</div>
				<div class="button" onclick="set_amount(500)" value="500">₹500</div>
				<div class="button" onclick="set_amount(1000)" value="1000">₹1000</div>
				<div class="button">₹<input type="number" class="set-amount" id="donation_amount" placeholder=""></div>
			</div>
			
			<div class="switch">
	<input type="radio" class="switch-input" name="view" value="One-Time" id="one-time" checked="">
	<label for="one-time" class="switch-label switch-label-off">One-Time</label>
	<input type="radio" class="switch-input" name="view" value="Monthly" id="monthly">
	<label for="monthly" class="switch-label switch-label-on">Sponsor a Oxygen Cylinder</label>
	<span class="switch-selection"></span>
	</div>
	
	
	<div class="confirm">
	</div>
			<div class="donate-button" id="initPayment"><i class="fa fa-credit-card"></i>Donate Now</div>
	</div>


	<div class="donation-box" ng-hide="showHideTest">
			<div class="title">Non-Monetary Donation Information</div>
			<div id=nmdonation>
				<br><h3> You can donate in the form of:</h3>
				<li>Clothes</li>
				<li>Food Items</li>
				<li>Books</li>
				<li>Stationary</li>
				<li>Toys</li>
				<!-- <li>Toiletaries</li> -->
			   <div id="divider"></div>
				<div id="contact_us">
						<strong>Location:</strong> <br>
						SocialEye <br>
						(An organisation to bring helper and needy together )<br>
						Electronic City, Urban Bangalore, <br>
						Bangalore<br><br><br>
						
						<strong>Call Us On :</strong><br>
						1234567890<br><br><br>
						
						<strong>E-mail Us At:</strong><br>
						socialeye@domain.org
				</div>
				<br><br><br><br><br><label>Please Enter your Phone Number:</label> <br>
				<!-- <div class="fields"> -->
					<input type="text" style="font-size: 1.5em; left:-0.5vw; top: 5vh; position:relative;" placeholder="1234567890">
				<!-- </div> -->
			</div>	
			
	<div class="confirm">
	</div>
			<div class="donate-button" id="request_call"><i class="fa fa-credit-card"></i>Request a Call</div>
	</div>
</div>
<script type="text/javascript" src="js/index.js"></script>
</body>
</html>