<!DOCTYPE html>
<html>
<head>
	<title>NGO Portal | Management</title>
	<link href="styles/management_dashboard.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="js/management_dashboard.js"></script>
</head>
<body>
    <span class="bckg"></span>
    <header>
        <h1>Dashboard</h1>
        <nav>
            <ul>
            <li>
                <a href="javascript:show_persons();" data-title="View Persons">View Persons</a>
            </li>
            <li>
                <a href="javascript:show_orgs();" data-title="View Orgs">View Orgs</a>
            </li>
						<li>
								<a href="javascript:show_donations();" data-title="View Donations">View Donations</a>
						</li>
            <li>
              <a href="javascript:show_posts();" data-title="View Posts">View Posts</a>
          </li>
            </ul>
        </nav>
    </header>
	<main>
        <div class="title">
            <h2>Management</h2>
            <a href="javascript:void(0);">Hello <%= user.username %>!</a>
            <a href="/logout">Logout</a>
        </div>

				<article class="larg" style="display: none;" id="persons">
            <div id="detailsDiv1">
            <h3>Person Details <span class="entypo-down-open"></span></h3>
                </div>
                <a href="javascript:add_user();" data-title="Add User">Add Person</a>


                 <div id="div_addperson" style="display:none">
                  Name:<br>
                  <input type="text" name="firstname" id="fn" class="form__group"><br>
                  Email:<br>
                  <input type="email" name="lastname" id="em" class="form__group"><br><br>
                  Username:<br>
                  <input type="text" name="username" id="un" class="form__group"><br>
                  Password:<br>
                  <input type="password" name="password" id="pw" class="form__group"><br>
                  <input type="submit" value="Submit" class="btn" onclick="submit_person_add()">
                </div>
        </article>



        <article class="larg" style="display: none;" id="orgs">
            <div id="detailsDiv2">
            <h3>Org Details <span class="entypo-down-open"></span></h3>
            </div>
						<a href="javascript:add_org();" data-title="Add Org">Add Org</a>


            <div id="div_addorg" style="display:none">
                  Name:<br>
                  <input type="text" name="firstname" id="t_fn" class="form__group"><br>
                  Email:<br>
                  <input type="email" name="lastname" id="t_em" class="form__group"><br><br>
                  Username:<br>
                  <input type="text" name="username" id="t_un" class="form__group"><br>
                  Password:<br>
                  <input type="password" name="password" id="t_pw" class="form__group"><br>
                  <!-- <input type="select multiple" name="persons" id="s_stu"><br> -->
                  Persons:<br>
                <div class="select_menu">

                  <select multiple id="t_persons" class="select_menu">
                  </select>
                </div>  
                

                  <input type="submit" value="Submit" class="btn" onclick="submit_org_add()">
                </div>
        </article>

        <article class="larg" style="display: none;" id="posts">
          <div id="detailsDiv5">
          <h3>Post Details <span class="entypo-down-open"></span></h3>
          </div>
         
      </article>



				<article class="larg" style="display: none;" id="donations">
            <div id="detailsDiv3">
            <h3>Donation Details <span class="entypo-down-open"></span></h3>
						</div>
        </article>

    </main>
    </body>
</html>
